@page "/Account/ForgotPasswordConfirmation"
@inject NavigationManager NavigationManager
@rendermode InteractiveServer

<PageTitle>Confirmare</PageTitle>

<h1>Parola a fost schimbata cu succes</h1>
<button @onclick="Redirect" class="btn btn-lg btn-primary">Logare</button>

@code{
	public async Task Redirect()
	{
		NavigationManager.NavigateTo("/Account/Login");
	}
}