@page "/Account/ResetPasswordConfirmation"
<PageTitle>Confirmarea resetării parolei</PageTitle>

<h1>Confirmați resetarea parolei</h1>
<p role="alert">
    Parola a fost resetată. Vă rugăm <a href="/cererea">tastați aici pentru logare</a>.
</p>
