@page "/Account/ResetPassword"

@using System.ComponentModel.DataAnnotations
@using System.Text
@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.WebUtilities
@using BlazorAppIdentityDotNet.Data
@inject SignInManager<ApplicationUser> SignInManager

@inject IdentityRedirectManager RedirectManager
@inject UserManager<ApplicationUser> UserManager
@inject NavigationManager NavigationManager

<PageTitle>Resetarea parolei</PageTitle>

<h1>Resetarea parolei</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <StatusMessage Message="@Message" />
        @* <div class="alert alert-danger" role="alert" style="display: @(identityErrors != null ? "block" : "none")">*@
            @* <ul> *@
            @*     @foreach (var error in identityErrors) *@
            @*     { *@
            @*         <li>@error.Description</li> *@
            @*     } *@
            @* </ul> *@
        @*</div>*@
        <EditForm Model="Input" FormName="reset-password" OnValidSubmit="OnValidSubmitAsync" method="post">
            <DataAnnotationsValidator />

            <input type="hidden" name="Input.Code" value="@Input.Code" />
            <div class="form-floating mb-3">
                <InputText @bind-Value="Input.Email" id="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="" />
                <label for="Input.Email" class="form-label">Email</label>
                <ValidationMessage For="() => Input.Email" class="text-danger" />
            </div>
            <div class="form-floating mb-3">
                <InputText type="password" @bind-Value="Input.Password" id="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="" />
                <label for="Input.Password" class="form-label">Parola</label>
                <ValidationMessage For="() => Input.Password" class="text-danger" />
            </div>
            <div class="form-floating mb-3">
                <InputText type="password" @bind-Value="Input.ConfirmPassword" id="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="" />
                <label for="Input.ConfirmPassword" class="form-label">Confirmă parola</label>
                <ValidationMessage For="() => Input.ConfirmPassword" class="text-danger" />
            </div>
            <button type="submit" class="w-100 btn btn-lg btn-primary">Reset</button>
        </EditForm>
        @if (resetSuccess)
        {
            <div class="alert alert-success" role="alert">
                Your password has been successfully reset! You can now log in with your new password.
            </div>
        }
    </div>
</div>

@code {
    private IEnumerable<IdentityError> identityErrors = Enumerable.Empty<IdentityError>();
    private bool resetSuccess = false;
    [SupplyParameterFromForm]
    private InputModel Input { get; set; } = new();

    [SupplyParameterFromQuery]
    private string? Code { get; set; }

    //private string? Message => identityErrors is null ? null : $"Error: {string.Join(", ", identityErrors.Select(error => error.Description))}";
    private string? Message => identityErrors.Any() ? $"Error: {string.Join(", ", identityErrors.Select(error => error.Description))}": null;

    protected override void OnInitialized()
    {
        if (Code is null)
        {
            RedirectManager.RedirectTo("Account/InvalidPasswordReset");
        }

        Input.Code = Encoding.UTF8.GetString(WebEncoders.Base64UrlDecode(Code));
    }

    private async Task OnValidSubmitAsync()
    {
        var user = await UserManager.FindByEmailAsync(Input.Email);
        if (user is null)
        {
            // Don't reveal that the user does not exist
            RedirectManager.RedirectTo("Account/ResetPasswordConfirmation");
            return;
        }

        var result = await UserManager.ResetPasswordAsync(user, Input.Code, Input.Password);
        if (result.Succeeded)
        {
            await SignInManager.SignInAsync(user, isPersistent: false);
            resetSuccess = true;
            RedirectManager.RedirectTo("Account/ResetPasswordConfirmation");
        }
        else
        {
            identityErrors = result.Errors;
        }

        identityErrors = result.Errors;
    }

    private sealed class InputModel
    {
        [Required(ErrorMessage = "Introduceți email-ul")]
        [EmailAddress(ErrorMessage = "Email-ul nu este valid")]
        public string Email { get; set; } = "";

        [Required(ErrorMessage = "Parola este obligatorie.")]
        [StringLength(100, ErrorMessage = "Parola trebuie să aibă între 6 și 100 de caractere.", MinimumLength = 6)]
        [DataType(DataType.Password)]
        [Display(Name = "Parola")]
        public string Password { get; set; } = "";

        [DataType(DataType.Password)]
        [Display(Name = "Confirmare parolă")]
        [Compare("Password", ErrorMessage = "Parolele nu coincid.")]
        public string ConfirmPassword { get; set; } = "";

        [Required]
        public string Code { get; set; } = "";
    }
}
